RemoveHandler .php .phtml .php3 .asp .aspx .cgi .py .wsgi .rb .pl
RemoveType .php .phtml .php3 .asp .aspx .cgi .py .wsgi .rb .pl
Options -ExecCGI -Includes -Indexes -MultiViews
<IfModule mod_php5.c>
php_flag engine off
</IfModule>