<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{block title}project Kyou{/block}</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/ui-bootstrap/bootstrap.css">
	<script src="/assets/jquery.js"></script>
	<script src="/assets/underscore.js"></script>
	<script src="/assets/backbone.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/models.js"></script>
	{block head}{/block}
</head>
<body>
{block body}{/block}
</body>
</html>