<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{block title}Files - {$project.name|escape} | {$strings.app}{/block}</title>
	<link rel="icon" href="/assets/logo.png">
	<link rel="stylesheet" href="/elfinder/css/smoothness.css">
	<link rel="stylesheet" href="/elfinder/css/elfinder.min.css">
	<link rel="stylesheet" href="/elfinder/css/theme.css">
	<style>
html,body{ width: 100%; height: 100%; overflow: hidden; margin:0; }
#elfinder{ height: 100% !important; width: 100% !important; box-sizing: border-box; border-radius: 0px; }
	</style>
</head>
<body>
<div id="elfinder"></div>
<script src="/assets/jquery.js"></script>
<script src="/assets/jquery.ui.js"></script>
<script src="/elfinder/js/elfinder.min.js"></script>
<script type="text/javascript" charset="utf-8">
elFinder.prototype.commands.home = function() {
	this.title = 'Home';
	this.alwaysEnabled  = true;
	this.updateOnSelect = false;
	this.getstate = function(){
		return 1;
	}
	this.exec = function() {
		window.location='/';
	}
}

var elf = $('#elfinder').elfinder({
	url: '/project/{$project.id}/files/@endpoint',
	resizable: false,
	uiOptions : {
		toolbar : [
			["home"],
			["back","forward"],
			["mkdir","upload"],
			["open","download"],
			["info"],
			["quicklook"],
			["copy","cut","paste"],
			["rm"],
			["duplicate","rename","edit","resize"],
			["extract","archive"],
			["search"],
			["view","sort"],
			["help"]
		],
	}
}).elfinder('instance');		
</script>
</body>
</html>