{extends "base.html"}
{block head}
<style>
body{
	background: #eee;
}
#lp-in{
	background: white;
	padding: 20px;
	width: 650px;
	margin:  20px auto 20px auto;
}
#lp-in form{
	width: 500px;
	margin: auto;
}
h1{
	margin-bottom: 20px;
	text-align: center;
}
#applist{
	text-align: center;
}
#applist a{
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}
#applist .row{
	margin-bottom: 50px;
}
#applist .logo{
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	background: #eee;
	margin-bottom: 10px;
}
</style>
{/block}
{block body}
<div id="lp-in">
	<h1>project Kyou</h1>
	<form action="#" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="project">Project</label>
			<div class="controls">
				<select id="project">
					<option>Loading...</option>
				</select>
				<a href="#" class="btn btn-danger" id="proj_delete">Delete</a>
				<div class="help-block">
					Logged in as <strong>{$user._id|escape}</strong> <a href="/auth" class="btn">Relogin</a>
				</div>
			</div>
    	</div>
	</form>
	<div id="applist">
		<div class="row">
			<div class="span4">
				<a href="#">
					<span class="logo"></span>
					Page creation
				</a>
			</div>
			<div class="span4">
				<a href="#">
					<span class="logo"></span>
					Binding
				</a>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<a href="#">
					<span class="logo"></span>
					Applications
				</a>
			</div>
			<div class="span4">
				<a href="#">
					<span class="logo"></span>
					Distribution
				</a>
			</div>
		</div>
	</div>
</div>
<form class="modal fade form-horizontal" id="newproj" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Create new project</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" name="pname">
			</div>
    	</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<script>
var projects = new ProjectList;
$(function(){
	projects.on("reset add destroy", function(){
		$("#project").empty();
		this.each(function(v){
			$("<option>").attr("value", v.id).text(v.get("name")).appendTo("#project");
		});
		$("<option value=''>-----------</option>").appendTo("#project");
		$("<option value='@new'>New project</option>").appendTo("#project");
		if(localStorage.project){
			$("#project").val(localStorage.project);
		}else{
			$("#project").val("");
		}
		$("#project").change();
	});
	$("#project").change(function(){
		if($(this).val() == "@new"){
			$("#newproj").modal();
			$("#newproj input[name=pname]").get(0).focus();
			$(this).val("")
			$("#applist,#proj_delete").hide();
		}else if($(this).val() != ""){
			$("#applist").slideDown();
			$("#proj_delete").show();
			localStorage.project = $(this).val();
		}else{
			$("#applist,#proj_delete").hide();
		}
	});
	$("#proj_delete").click(function(){
		if(!confirm("Delete current project?")){
			return false;
		}
		var proj = localStorage.project;
		delete localStorage.project;
		projects.get(proj).destroy();
		return false;
	});
	$("#newproj").submit(function(){
		projects.create({
			name: $("input[name=pname]", this).val(),
			stage: 0
		}, {
			wait: true,
			success: function(obj){
				$("#project").val(obj.id).change();
				$("#newproj").modal("hide");
				$("#newproj input[name=pname]").val("").attr("disabled", false);
			}
		});
		$("input[name=pname]", this).attr("disabled", true);
		return false;
	});
	$("#applist").hide();
	projects.reset({$projects|json_encode});
})
</script>
{/block}