{extends "base.html"}
{block head}
<script src="/assets/jquery.tokeninput.js"></script>
<link rel="stylesheet" href="/assets/css/token-input.css">
<link rel="stylesheet" href="/assets/css/token-input-mac.css">
<style>
body{
	background: #eee;
}
h1{
	background: #888;
	border-bottom: #555 solid 2px;
	box-shadow: inset rgba(0,0,0,0.5) 0px -10px 40px;
	color: white;
	margin-top: -20px;
	margin-left: -20px;
	width: 690px;
	height: 100px;
	padding-top: 50px;
	text-align: left;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding-left: 20px;
	text-shadow: black 0px 2px 1px, black 0px -1px 1px;
	{if $nonfree}background-image: url(/nonfree/kyou.jpg);{/if}
}
#lp-in{
	background: white;
	padding: 20px;
	padding-bottom: 1px;
	width: 650px;
	margin: auto;
	box-shadow: #333 0px 30px 100px;
}
#lp-in form{
	width: 600px;
	margin: auto;
}
#applist{
	text-align: center;
}
.icon{
	display: block;
	width: 200px;
	margin: auto;
	text-align: center;
}
#applist .row{
	margin-bottom: 50px;
}
#applist .logo{
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	background: #eee;
	margin-bottom: 10px;
}
.popover-inner{
	width: auto;
}
.popover-content{
	height: 160px;
	overflow: auto;
	padding: 0;
}
.popover-content ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.popover-content a{
	border-bottom: #f0f0f0 solid 1px;
	display: block;
	padding: 5px 10px 5px 10px;
	color: inherit;
}
.popover-content a:hover{
	background: #f5f5f5;
	text-decoration: none;
}
.popover-content button{
	float: right;
	padding: 2px 10px 2px 10px;
	margin-top: -3px;
}
.popover-content .label{
	vertical-align: baseline;
}
ul.token-input-list{
	width: 250px;
}
</style>
{/block}
{block body}
<div id="lp-in">
	<h1>{$strings.app}</h1>
	<form action="#" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="project">Project</label>
			<div class="controls">
				<select id="project">
					<option>Loading...</option>
				</select>
				<button id="proj_share" class="btn">Sharing</button>
				<a href="#" class="btn btn-danger" id="proj_delete">Delete</a>
				<div class="help-block">
					Logged in as <strong>{$user._id|escape}</strong> <a href="/auth" class="btn">Relogin</a>
				</div>
			</div>
		</div>
	</form>
	<div id="applist">
		<div class="row">
			<div class="span4">
				<div class="popover-inner">
					<h3 class="popover-title">Page creation</h3>
					<div class="popover-content">
						<ul id="pagelist">
							<li><a href="#">Loading...</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span3 offset1">
				<a href="#" data-link="/project/%s/organize/" class="icon">
					{if $nonfree}<img src="/nonfree/nagisa.png" style="border-radius: 15px; margin-bottom: 10px;">
					{else}<span class="logo"></span>{/if}
					<strong>{$strings.binding}:</strong> Page sorter
				</a>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="popover-inner">
					<h3 class="popover-title">Applications</h3>
					<div class="popover-content">
						<ul>
							<li><a href="#" data-link="/project/%s/files/"><strong>{$strings.resman}:</strong> Resources manager</a></li>
							<li><a href="#"><strong>{$strings.kara}:</strong> Lyrics timer</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span3 offset1">
				<a href="#" class="icon" data-link="/project/%s/dist/">
					{if $nonfree}<img src="/nonfree/fuko.png" style="border-radius: 15px; margin-bottom: 10px;">
					{else}<span class="logo"></span>{/if}
					<strong>{$strings.dist}:</strong> Export book
				</a>
			</div>
		</div>
	</div>
</div>
<form class="modal fade form-horizontal" id="newproj" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Create new project</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" name="pname" required>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<form class="modal fade form-horizontal" id="newpage" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Create new page</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" name="pname" required>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<form class="modal fade form-horizontal" id="sharing" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{$strings.sharing}</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Project owner</label>
			<div class="controls">
				<input type="text" id="projowner" disabled>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Members</label>
			<div class="controls">
				<input type="text" name="member" class="token-input-mac" id="projmember">
			</div>
	</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<form class="modal fade" id="lockwarn">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Page under editing</h3>
	</div>
	<div class="modal-body">
		<p>Page is locked by <strong id="lockuser"></strong> at <strong id="locktime"></strong>.</p>
		<p>If you continue, your changes may overwrite that user's changes.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger">Cancel</button>
		<a class="btn btn-primary">Continue</a>
	</div>
</form>
<script>
var projects = new ProjectList;
var curProj;
$(function(){
	projects.on("reset add destroy", function(){
		$("#project").empty();
		this.each(function(v){
			$("<option>").attr("value", v.id).text(v.get("name")).appendTo("#project");
		});
		$("<option value=''>-----------</option>").appendTo("#project");
		$("<option value='@new'>New project</option>").appendTo("#project");
		if(localStorage.project){
			$("#project").val(localStorage.project);
		}else{
			$("#project").val("");
		}
		$("#project").change();
	});
	$("#project").change(function(){
		if($(this).val() == "@new"){
			$("#newproj").modal();
			$("#newproj input[name=pname]").get(0).focus();
			$(this).val("")
			$("#applist,#proj_delete,#proj_share").hide();
		}else if($(this).val() != ""){
			$("#applist,#proj_delete,#proj_share").show();
			if(!curProj || $(this).val() != curProj.id){
				$("#pagelist").html('<li><a href="#">Loading...</a></li>');
				localStorage.project = $(this).val();
				if(curProj){
					curProj.off("reset add destroy");
				}
				curProj = projects.get($(this).val());
				var owner = curProj.get("user")[0];
				$("#projowner").val(owner);
				var userlist = curProj.get("user").slice(1);
				_.each(userlist, function(x,ind){
					userlist[ind] = { id: x, name: x };
				});
				$("#projmember").tokenInput("/_users?owner="+owner, {
					prePopulate: userlist,
					preventDuplicates: true,
					zindex: 20000,
					theme: "mac"
				});
				$("a[data-link]").attr("href", function(){
					return $(this).data("link").replace("%s", curProj.id);
				});
				curProj.pages.on("reset add destroy", function(){
					$("#pagelist").empty();
					var addLink = $("<li><a href='#'><i class='icon-plus'></i> New Page</a></li>").appendTo("#pagelist");
					$("a", addLink).click(function(){
						$("#newpage").modal();
						$("#newpage input[name=pname]").get(0).focus();
						return false;
					})
					curProj.pages.forEach(function(model){
						var ele = $("<li><a href='#'></a></li>");
						$('a', ele).attr("href", "/page/" + model.id).data("id", model.id).html(_.escape(model.get("name"))+" <span class='label'>"+model.stage()+"</span><button class='btn btn-danger'><i class='icon-trash icon-white'></i></button>").data("id", model.id);
						ele.appendTo("#pagelist");
					});
				});
				curProj.pages.fetch();
			}
		}else{
			$("#applist,#proj_delete,#proj_share").hide();
		}
	})
	$("#proj_delete").click(function(){
		if(!confirm("Delete current project?")){
			return false;
		}
		curProj.destroy();
		return false;
	});
	$("#newproj").submit(function(){
		projects.create({
			name: $("input[name=pname]", this).val(),
			stage: 0
		}, {
			wait: true,
			success: function(obj){
				$("#project").val(obj.id).change();
				$("#newproj").modal("hide");
				$("#newproj input[name=pname]").val("").attr("disabled", false);
			}
		});
		$("input[name=pname]", this).attr("disabled", true);
		return false;
	});
	$("#proj_share").click(function(){
		$("#sharing").modal();
		return false;
	});
	$("#sharing").submit(function(){
		var users = $("#projmember").val().split(",");
		if(users.length == 1 && users[0] === ""){
			users = [];
		}
		users = _.union([{$user._id|json_encode}], users);
		curProj.set("user", users);
		curProj.save();
		$("#sharing").modal("hide");
		return false;
	});
	$("#pagelist").delegate("button", "click", function(){
		if(!confirm("Delete page \""+$(this).parent().text()+"\"?")){
			return false;
		}
		$(this).hide();
		curProj.pages.get($(this).parent().data("id")).destroy();
		return false;
	});
	$("#pagelist").delegate("a", "click", function(){
		$(".label", this).data("orig", $(".label", this).text()).text("Loading...");
		$.getJSON(this.href+"/@lock", _.bind(function(x){
			if(x){
				$("#lockwarn").modal();
				var d = new Date(x.time.sec*1000);
				$("#lockuser").text(x.user);
				$("#locktime").text(d.toLocaleDateString()+" "+d.toLocaleTimeString());
				$(".label", this).text($(".label", this).data("orig"));
				$("#lockwarn a.btn").attr("href", this.href);
			}else{
				window.location = this.href;
			}
		}, this));
		return false;
	});
	$("#lockwarn .btn-danger").click(function(){
		$("#lockwarn").modal("hide");
		return false;
	});
	$("#newpage").submit(function(){
		curProj.pages.create({
			name: $("input[name=pname]", this).val(),
			layout: "standard",
			stage: 0,
			project: curProj
		}, {
			wait: true,
			success: function(obj){
				$("#newpage").modal("hide");
				$("#newpage input[name=pname]").val("").attr("disabled", false);
			}
		});
		$("input[name=pname]", this).attr("disabled", true);
		return false;
	});
	$("#applist").hide();
	projects.reset({$projects|json_encode});
	if(localStorage.project){
		$("#project").val(localStorage.project).change();
	}
})
</script>
{/block}