{extends "base.html"}
{block title}{$project.name|escape} | {$strings.binding}{/block}
{block head}
<script src="/assets/jquery.ui.js"></script>
<style type="text/css">
.container-fluid{
	margin-top: 48px;
}
.page, .ui-state-highlight{
	width: 150px;
	height: 128px;
	font-size: 14pt;
	padding: 15px;
	box-sizing:border-box;
	text-align:center;
	float: left;
	border: #bbb solid 1px;
	margin: 15px;
}
.page{
	background: white;
	box-shadow: #555 0px 2px 5px;
}
.label{
	margin-top: 10px;
}
</style>
{/block}
{block body}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">{$strings.binding}</a>
			<ul class="nav">
				<li><a href="/">Project Home</a></li>
				<li><a href="/">Current Project: <strong>{$project.name|escape}</strong></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9" id="pagelist">Loading...</div>
		<div class="span3">
			<div class="alert alert-block alert-info">
				<h4 class="alert-heading">How to use?</h4>
				<p>Drag &amp; drop the pages in the order you want to show the pages and click save.</p>
				<p>To create new pages, <a href="/">go back to the front page</a></p>
				<p>To export, <a href="#">use {$strings.dist}</a></p>
			</div>
			<h2>{$project.name|escape}</h2>
			<dl class="dl-horizontal">
				<dt>Pages</dt>
				<dd>{$pages|count}</dd>
			</dl>
			<div class="form-actions">
				<button class="btn btn-primary" id="savebtn">Save</button>
		</div>
		</div>
	</div>
</div>
<script>
var pagelist;
$(function(){
	pagelist = new PageList();
	pagelist.on("reset", function(){
		$("#pagelist").empty();
		pagelist.each(function(p){
			var ele = $("<div class='page'></div>").text(p.get("name")).appendTo("#pagelist").data("id", p.id);
			$("<div class='label'></div>").text(p.stage()).appendTo(ele);
		});
	});
	$("#savebtn").click(function(){
		this.innerText = "Saving";
		this.disabled = true;
		$("#pagelist .page").each(function(ind){
			var item = pagelist.get($(this).data("id"));
			item.set("weight", ind + 1);
		});
		var uploadData = pagelist.toJSON();
		uploadData = uploadData.map(function(e){
			return {
				id: e.id,
				weight: e.weight
			}
		});
		// Don't save the page directly or ALL widget will be lost
		$.post("", { data: uploadData }, function(d){
			if(d){
				alert(d);
			}
			$("#savebtn").text("Saved");
			setTimeout(function(){
				$("#savebtn").text("Save").attr("disabled", false);
			}, 500);
		});
	});
	$("#pagelist").sortable({
		placeholder: "ui-state-highlight"
	}).disableSelection();
	pagelist.reset({$pages|json_encode});
});
</script
{/block}