{extends "base.html"}
{block title}{$page.name|escape} | {$strings.app}{/block}
{block head}
<script src="/assets/jquery.ui.js"></script>
<script src="/assets/handlebars.js"></script>
<style>
html,body{
	height: 100%;
}
#sidebar{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 400px;
	height: 99.5%;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 50px;
}
#wl_resize{
	height: 150px;
}
.widgetlist{
	margin: 0;
	list-style: none;
	border: #ccc solid 1px;
	height: 100%;
	overflow: auto;
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
}
.widgetlist li{
	padding: 5px 10px 5px 10px;
	border-bottom: #ddd solid 1px;
	cursor: pointer;
}
.widgetlist li:hover{
	background: #c6f0ff;
}
.widgetlist li.active{
	background: #0088cc;
	color: white;
}
.grip{
	cursor: move;
}
.toolbar{
	background: #eee;
	padding: 5px;
	border: #ccc solid 1px;
	border-top: none;
	margin-bottom: 20px;
	width: 100%;
}
.widgetlist .ui-icon{
	float: right;
}
.widgetlist .btn{
	float: right;
	padding: 1px;
	margin-top: -1px;
}
.widgetlist img{
	margin-top: -5px;
}
.widgetlist small{
	font-size: 8pt;
	color: #aaa;
	margin-left: 10px;
}
#pagepreview{
	height: 99.5%;
	border: none;
}
#autosave{
	display: inline-block;
	color: #888;
}
.imgpick{
	width: 340px;
	height: 300px;
	overflow: auto;
	border: #aaa solid 1px;
}
.pickitem{
	width: 80px;
	height: 80px;
	box-shadow: border-box;
	padding: 10px 5px 10px 5px;
	margin: 5px;
	border: #eee solid 1px;
	text-align: center;
	cursor: pointer;
	float: left;
}
.pickitem:hover{
	background: #c6f0ff;
}
.pickitem.active{
	background: #00439e;
	color: white;
}
.pickitem.active div{
	color: #eee;
}
.pickitem div{
	margin-top: 2px;
	font-size: 9pt;
	color: #888;
}
#widgetconfig .control-label{
	width: 80px;
}
#widgetconfig .controls{
	margin-left: 100px;
	margin-right: 20px;
}
#showsidebar{
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	background: rgba(0,0,0,0.6);
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.2;
	display: none;
	z-index: 1000;
}
#showsidebar:hover{
	opacity: 1;
}
.label{
	vertical-align: baseline;
}
#selectitem iframe{
	width: 100%;
	height: 350px;
	border: none;
}
.modal-backdrop{
	z-index: 20000;
}
.modal.fade{
	z-index: 20050;
	top: -100%;
}
.input-prepend .add-on, .input-prepend .btn{
	margin-right: -5px;
}
.input-prepend input{
	width: auto !important;
}
</style>
{/block}
{block body}
<div id="sidebar">
	<div class="toolbar" style="margin: -10px; margin-bottom: 10px; width: auto;">
		<a href="#" id="popout" class="btn" title="Popout preview"><i class="icon-share-alt"></i></a>
		<a href="#" id="hidesidebar" class="btn" title="Hide sidebar"><i class="icon-resize-full"></i></a>
		<div class="btn-group" style="display: inline-block; vertical-align: middle;">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" title="{$strings.vc}">
				<i class="icon-time"></i>
				<span class="caret"></span>
			</a>
  			<ul class="dropdown-menu">
    			<li><a href="#" id="ushio_new"><i class="icon-plus"></i> Create revision</a></li>
    			<li><a href="#" id="runushio"><i class="icon-time"></i> Run {$strings.vc}</a></li>
  			</ul>
		</div>
		<a href="/" class="btn pull-right" title="Project home"><i class="icon-home"></i></a>
		<br style="clear: both;">
	</div>
	<p>
		<strong>Project:</strong> {$project.name|escape}<br>
		<strong>Page:</strong> <a href="#" id="pagename"></a><br>
		<strong>Layout:</strong> <a href="#" id="layoutname"></a>
	</p>
	<div id="wl_resize">
		<ul id="widgetlist" class="widgetlist">
			<li>Loading...</li>
		</ul>
	</div>
	<div class="toolbar" style="width: auto;">
		<button id="addwidget" class="btn btn-primary" title="Add new widget"><i class='icon-plus icon-white'></i></button>
		<div id="autosave">Autosave ON</div>
		<button id="delwidget" class="btn btn-danger" style="float: right;" title="Delete this widget"><i class='icon-trash icon-white'></i></button>
	</div>
	<h1 id="widgetname"></h1>
	<div id="widgetconfig">
	</div>
</div>
<div id="showsidebar" title="Show sidebar"><i class="icon-resize-small icon-white"></i></div>
<form class="modal fade form-horizontal" id="newwidget" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>New Widget</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" name="name" required>
			</div>
    	</div>
    	<div class="control-group">
			<label class="control-label">Widget</label>
			<div class="controls">
				<div class="imgpick" id="widgetpick">
					<input type="hidden" name="widget">
				</div>
			</div>
    	</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<form class="modal fade form-horizontal" id="pagesetup" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Page settings</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Name</label>
			<div class="controls">
				<input type="text" name="name" required>
			</div>
    	</div>
    	<div class="control-group">
			<label class="control-label">Stage</label>
			<div class="controls">
				<select name="stage">
					<option value="0">Planning</option>
					<option value="1">Waiting for content</option>
					<option value="2">Working</option>
					<option value="3">QA</option>
					<option value="4">Done</option>
				</select>
			</div>
    	</div>
    	<div class="control-group">
			<label class="control-label">Layout</label>
			<div class="controls">
				<div class="imgpick" id="layoutpick">
					<input type="hidden" name="layout">
				</div>
			</div>
    	</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<form class="modal fade form-horizontal" id="newrev" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Create revision</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Description</label>
			<div class="controls">
				<input type="text" name="desc" required>
			</div>
    	</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Save" class="btn btn-primary">
	</div>
</form>
<form class="modal fade form-horizontal" id="selectpage" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Select page</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label">Page</label>
			<div class="controls">
				<select name="page">
				</select>
			</div>
    	</div>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Select" class="btn btn-primary">
	</div>
</form>
<form class="modal fade form-horizontal" id="selectitem" action="#">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Select resource file</h3>
	</div>
	<div class="modal-body">
		<input type="text" name="file" required readonly style="width: 97%; margin-bottom: 10px; border:none; background:transparent; box-shadow: none;">
		<iframe src="/project/{$project.id}/files/@pick"></iframe>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Select" class="btn btn-primary">
	</div>
</form>
<script src="/layouts.js"></script>
<script src="/widgets.js"></script>
<script>
var page = new Page({$page|json_encode});
var curWidget, widgetConfig, curLayout, inPopout=false;
var ASTimer;

function save(){
	clearTimeout(ASTimer);
	ASTimer = setTimeout(function(){
		$("#autosave").text("Saving...");
		page.save();
	}, 1500);
}
function reqlock(){
	$.post("/page/{$page.id}/@lock");
}
reqlock();
setInterval(reqlock, 15000);
window.onunload = function(){
	$.ajax({
		async: false,
		url: "/page/{$page.id}/@lock",
		type: "DELETE"
	});
}
function pick_page(cb){
	$("#selectpage").unbind("submit").bind("submit", function(){
		cb($("select", this).val(), $("option:selected", this).text());
		$(this).modal("hide");
		return false;
	}).modal();
	return true;
}
function pick_file(cb){
	//$("#selectitem iframe").attr("src", "/project/{$project.id}/files/@pick");
	$("#selectitem").unbind("submit").bind("submit", function(){
		cb($("input[name=file]", this).val());
		$(this).modal("hide");
		return false;
	}).modal();
	return true;
}
var yukine_lastClick;
function yukine_select(f){
	var oV = $("#selectitem input[name=file]").val();
	if(oV == f && new Date().getTime() - yukine_lastClick < 250){
		$("#selectitem").submit();
	}else{
		$("#selectitem input[name=file]").val(f);
		yukine_lastClick = new Date().getTime();
	}
}

$(function(){
	$(window).resize(function(){
		$("#pagepreview").css("width", $(window).innerWidth() - $("#sidebar:visible").outerWidth());
		$("#wl_resize").css("width", "auto");
	}).resize();
	page.on("beforerender", function(){
		$("#pagepreview").remove();
		if(inPopout){
			var previewWnd = window.open("", "preview", "toolbar=no,menubar=no");
			page.renderer.setElement(previewWnd.document.documentElement);
			previewWnd.onunload = function(){
				inPopout = false;
				$("#sidebar").css("width", "400px");
				$("#popout,#pagepreview,#hidesidebar").show();
				page.renderer.render();
			};
		}else{
			var iframe = $('<iframe id="pagepreview" sandbox="allow-scripts allow-same-origin"></iframe>').css("width", $(window).innerWidth() - $("#sidebar:visible").outerWidth());
			$("body").prepend(iframe);
			page.renderer.setElement(iframe.get(0).contentDocument.documentElement);
		}
	});
	page.on("render", function(){
		//$("#pagepreview").css("height", Math.max($(window).height()-5, $("#pagepreview").get(0).contentWindow.innerHeight));
		$("#pagepreview").css("height", $(window).height()-5);
	});
	page.on("reset", function(){
		page.widgets.on("reset add destroy", function(){
			$("#widgetlist").empty();
			page.widgets.each(function(v){
				var ele = $('<li><span class="ui-icon ui-icon-grip-solid-horizontal grip"></span><a class="cssfix btn" title="CSS Edit"><span class="ui-icon ui-icon-wrench"></span></a><img> <strong></strong> <span class="widgetname"></span></li>');
				ele.data("id", v.id).data("model", v).addClass("id_"+v.id);
				var widget = new widgets[v.type](v);
				$("img", ele).attr("src", widget.icon_small);
				$("strong", ele).text(widget.name+":");
				$(".widgetname", ele).text(widget.get("name"));
				$("<small></small>").text("#"+widget.get("id")).appendTo(ele);
				if(widget.disable_config.indexOf("*") != -1){
					$(".cssfix", ele).remove();
				}
				if(widget.render_on_change){
					v.on("change", function(){
						page.renderer.render();
					});
				}
				ele.appendTo("#widgetlist");
				v.on("change:name", function(model, val){
					$(".widgetname", ele).text(val);
				});
			});
			if(curWidget){
				$("#widgetlist li.id_"+curWidget.id).addClass("active");
			}
			page.renderer.render();
		}).trigger("reset");
		page.widgets.on("change destroy add", function(){
			$("#autosave").html("Unsaved changes!").stop(true).show().css("display", "inline-block").css("opacity", 1);
			bindExit();
			save();
		});
	});
	page.on("change:layout reset", function(){
		curLayout = new layouts[page.get("layout")];
		curLayout.page = page;
		$("#layoutname").text(" "+curLayout.name+" ");
		if(_.isFunction(curLayout.config)){
			$('<a class="btn btn-small" style="padding: 2px 5px 2px 5px; line-height: auto;" title="Config"><i class="icon-cog"></i> Settings</a>').appendTo("#layoutname");
		}
		$("<img>").attr("src", curLayout.icon_small).prependTo("#layoutname");
		$("#widgetpick .pickitem").remove();
		var layout = new layouts[page.get("layout")];
		_.each(widgets, function(v, k){
			v = new v;
			if(v.check_depends(page) === false || layout.check_depends(v) === false){
				return;
			}
			var ele = $("<div class='pickitem'><img><div></div></div>").addClass("item_"+k).data("value", k).attr("title", v.description);
			$("img", ele).attr("src", v.icon_large);
			$("div", ele).text(v.name);
			ele.appendTo("#widgetpick");
		});
		page.renderer.render();
	});
	page.on("change:name change:stage reset", function(){
		$("#pagename").text(page.get("name")+" ");
		$("<span class='label'>").text(page.stage()).appendTo("#pagename");
	});
	page.project.pages.on("reset", function(){
		$("#selectpage select").empty();
		page.project.pages.each(function(v){
			$("<option>").attr("value", v.id).text(v.get("name")).appendTo("#selectpage select");
		});
	});
	function bindExit(){
		window.onbeforeunload = function(e){
			var s = "You have unsaved changes.\n\nIf you close this page, the unsaved changes will be lost.";
			e.returnValue = s;
			page.save();
			return s;
		}
	}
	var stopAutoSync = false;
	page.on("sync", function(){
		$("#autosave").html("Saved").stop(true).show().fadeOut(2000);
		window.onbeforeunload = null;
		stopAutoSync = true;
	});
	page.on("change", function(){
		if(stopAutoSync){
			stopAutoSync = false;
			return;
		}
		$("#autosave").html("Unsaved changes!").stop(true).show().css("display", "inline-block").css("opacity", 1);
		bindExit();
		save();
	});

	$("#addwidget").click(function(){
		$("#newwidget").modal();
		$("#widgetpick div:first").click();
		$("#newwidget input:first").get(0).focus();
	});
	$("#delwidget").click(function(){
		if(!curWidget){
			alert("No widget is selected");
			return false;
		}
		if(confirm("Delete "+curWidget.name.toLowerCase()+" widget \""+curWidget.get("name")+"\"?")){
			page.widgets.remove(curWidget).trigger("destroy");
			curWidget.trigger("destroy");
		}else{
			return;
		}
		widgetConfig.undelegateEvents();
		$("#widgetconfig,#widgetname").empty();
	});
	$("#hidesidebar").click(function(){
		$("#sidebar").hide();
		$(window).resize();
		$("#showsidebar").show();
		return false;
	});
	$("#showsidebar").click(function(){
		$("#showsidebar").hide();
		$("#sidebar").show();
		$(window).resize();
		return false;
	});
	$("#popout").click(function(){
		$("#pagepreview,#popout,#hidesidebar").hide();
		$("#sidebar").css("width", "100%");
		inPopout = true;
		page.renderer.render();
		return false;
	});
	$(".imgpick").delegate(".pickitem", "click", function(){
		$("input", $(this).parents(".imgpick")).val($(this).data("value"));
		$(".active", $(this).parents(".imgpick")).removeClass("active");
		$(this).addClass("active");
	});
	$("#newwidget").submit(function(){
		var frm = $(this).serializeJSON();
		$("input[name=name]", this).val("");
		var view = widgets[frm.widget];
		frm.id = "w_"+new Date().getTime().toString(36);
		view = new view(frm);
		view.weight = ((($("#widgetlist li").index($("#widgetlist .active"))+1)*100)||1E10) + 1;
		page.widgets.add(view);
		$(this).modal("hide");
		return false;
	});
	$("#widgetlist").delegate("li", "click", function(){
		if(widgetConfig){
			var out = widgetConfig.unload();
			if(out === false){
				return false;
			}
		}

		$("#widgetlist .active").removeClass("active");
		$(this).addClass("active");
		curWidget = page.widgets.get($(this).data("id"));
		$("#widgetname").text(curWidget.get("name")+" ");
		$("<small>").text("#"+curWidget.get("id")).appendTo("#widgetname");
		//$("<img>").attr("src", curWidget.icon_large).appendTo("#widgetname");
		widgetConfig = new curWidget.config({
			model: curWidget,
			el: $("#widgetconfig")
		});
		widgetConfig.render();
	});
	$("#widgetlist").delegate(".cssfix", "click", function(){
		if(widgetConfig){
			var out = widgetConfig.unload();
			if(out === false){
				return false;
			}
		}

		$("#widgetlist .active").removeClass("active");
		$(this).parents("li").addClass("active");
		curWidget = page.widgets.get($(this).parents("li").data("id"));
		$("#widgetname").text(curWidget.get("name")+" ");
		$("<small>").text("#"+curWidget.get("id")).appendTo("#widgetname");
		widgetConfig = new CSSConfigView({
			model: curWidget,
			el: $("#widgetconfig")
		});
		widgetConfig.render();
		return false;
	});
	$("#layoutname").delegate(".btn", "click", function(){
		if(widgetConfig){
			var out = widgetConfig.unload();
			if(out === false){
				return false;
			}
		}

		$("#widgetlist .active").removeClass("active");
		curWidget = null;
		$("#widgetname").text("Layout configuration");
		widgetConfig = new curLayout.config({
			model: curLayout,
			el: $("#widgetconfig")
		});
		widgetConfig.render();
		return false;
	});
	$("#pagesetup").submit(function(){
		page.set("name", $("#pagesetup input[name=name]").val());
		page.set("layout", $("#pagesetup input[name=layout]").val());
		page.set("stage", parseInt($("#pagesetup select[name=stage]").val()));
		save();
		$(this).modal("hide");
		return false;
	});
	$("#pagename,#layoutname").click(function(){
		$("#pagesetup").modal();
		$("#layoutpick .item_"+curLayout.type).click();
		$("#pagesetup input[name=name]").val(page.get("name")).get(0).focus();
		$("#pagesetup select[name=stage]").val(page.get("stage"));
		return false;
	});
	$("#runushio").click(function(){
		$("<div>").css({
			position: "fixed",
			top: 0,
			left: 0,
			width: "100%",
			height: "100%",
			background: "rgba(255,255,255,0.95)",
			zIndex: 100000,
			textAlign: "center",
			boxSizing: "border-box",
			paddingTop: "25%",
			verticalAlign: "middle",
			fontSize: 64,
			fontFamily: "HelveticaNeue-UltraLight, helvetica, sans-serif"
		}).text("Entering {$strings.vc}...").hide().appendTo("body").fadeIn(1000);
		window.location = "/page/" +page.id + "/revisions"
		return false;
	});
	$("#ushio_new").click(function(e){
		page.save();
		$("#newrev").modal();
		$("#newrev input").get(0).focus();
		e.preventDefault();
	});
	$("#newrev").submit(function(){
		// Rerender
		page.renderer.render({ revision: true });
		$("input", this).attr("disabled", true);
		setTimeout(_.bind(function(){
			$("input", this).attr("disabled", false);
			var out = $(this).serializeJSON();
			$("input", this).attr("disabled", true);
			out.html = page.renderer.el.outerHTML;
			
			$.post("/page/"+page.id+"/@save", out, function(){
				$("#newrev input").attr("disabled", false);
				$("#newrev [type=text]").val("");
				page.renderer.render();
				$("#newrev").modal("hide");
			});
		}, this), 250);
		return false;
	});
	$("#widgetconfig").delegate(".pickbtn", "click", function(){
		pick_file(_.bind(function(f){
			$("input", $(this).parent()).val(f);
		}, this));
	});
	$("#widgetconfig").delegate(".pickpagebtn", "click", function(){
		pick_page(_.bind(function(f){
			$("input", $(this).parent()).val(f+".html");
		}, this));
	});

	$("#widgetlist").sortable({
		containment: "parent",
		handle: ".grip",
		update: function(e, ui){
			$("#widgetlist li").each(function(k,v){
				var widget = page.widgets.get($(v).data("id"));
				widget.weight = k * 100;
			});
			page.widgets.sort();
			page.widgets.trigger("change");
		}
	}).disableSelection();
	$("#wl_resize").resizable({
		handles: "s",
	});

	_.each(layouts, function(v, k){
		v = new v;
		var ele = $("<div class='pickitem'><img><div></div></div>").addClass("item_"+k).data("value", k).attr("title", v.description);
		$("img", ele).attr("src", v.icon_large);
		$("div", ele).text(v.name);
		ele.appendTo("#layoutpick");
	});
	page.trigger("reset");
	page.project.pages.fetch();
	$("#widgetpick .pickitem,#layoutpick .pickitem").tooltip();
	$(".toolbar a[title],.toolbar button[title],#showsidebar").tooltip({ placement: "bottom" });
});
</script>
{/block}