{extends "base.html"}
{block body}
<script src="/assets/handlebars.js"></script>
<script src="/layouts.js"></script>
<script src="/widgets.js"></script>
<script src="/ryou_provider.js"></script>
<script>
var page = new Page({$page|json_encode});
page.renderer.setElement($("html").get(0));
page.renderer.render({ "preview": true });
$("<img>").attr("src", "/assets/previewbadge.png").css({
	position: "fixed",
	top: 0,
	right: 0,
	pointerEvents: "none",
	zIndex: 1E10
}).appendTo("body");
</script>
{/block}