<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{block title}Register | {$strings.app}{/block}</title>
	<link rel="icon" href="/assets/logo.png">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<style>
body{
	text-align: center;
	margin: auto;
	margin-top: 50px;
	width: 800px;
}
h1{
	font-weight: 100;
	font-size: 30pt;
	margin-top: 30px;
}
h2{
	font-weight: normal;
	font-size: 16pt;
	padding-bottom: 20px;
	border-bottom: #bbb solid 1px;
	width: 600px;
	margin: auto;
	margin-bottom: 10px;
}
form{
	width: 500px;
	margin: auto;
	text-align: left;
}
	</style>
</head>
<body>
	<img src="/assets/logo.png">
	<h1>Welcome to {$strings.app}</h1>
	<h2>Register</h2>
{if $error}
<div class="alert alert-error">{$error}</div>
{/if}
<form action="" method="POST" class="form-horizontal well">
	<div class="control-group">
		<label class="control-label">Username</label>
		<div class="controls">
			<input type="text" name="username" pattern='{literal}[a-z0-9]{1,12}{/literal}' required autofocus>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Password</label>
		<div class="controls">
			<input type="password" name="password" required>
			<input type="password" name="password2" required>
			<div class="help-inline">(repeat)</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Email</label>
		<div class="controls">
			<input type="email" name="email" required>
		</div>
	</div>
	<input type="hidden" name="csrf" value="{$csrf}">
	{if $pay}<input type="hidden" name="pay" value="true">
	<div class="alert alert-info">You will be taken to plan selection after registration.</div>{/if}
	<div class="form-actions">
		<input type="submit" value="Login" class="btn btn-primary">
	</div>
</form>
</body>
</html>