{extends "base.html"}
{block title}Revisions of {$page.name|escape} | {$strings.app}{/block}
{block head}
<script src="/assets/three.js"></script>
<script src="/assets/shaderextras.js"></script>
<script src="/assets/tween.js"></script>
<script src="/assets/sparks.js"></script>
<script src="/assets/threex.sparks.js"></script>
<script src="/assets/ushio3d.js"></script>
<style>
body{
	background: black;
	overflow: hidden;
}
#sparks{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.wrap{
	position: absolute;
	top: -60px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.wrap iframe{
	width: 1024px;
	height: 768px;
	overflow: hidden;
	border: none;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	margin: auto;
	display: block;
	border: black solid 5px;
	border-bottom: black solid 20px;
	border-radius: 5px;
	background: white;
	-webkit-transition: -webkit-transform ease-out 800ms;
	transition: transform ease-out 800ms;
}
#revinfo-out{
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 100%;
}
#revinfo{
	margin: auto;
	width: 500px;
	text-align: center;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	color: white;
	font-size: 14pt;
	border-radius: 10px;
	border: #222 solid 1px;
	text-shadow: black 0px 1px 1px;
}
#revinfo .meta{
	margin-top: 10px;
	color: #aaa;
	font-size: 80%;
}
#revinfo .action{
	margin-top: 10px;
}
</style>
{/block}
{block body}
<div id="sparks"></div>
<div id="pages">
</div>
<div id="revinfo-out">
	<div id="revinfo">
		<div class="name"></div>
		<div class="meta"></div>
		<div class="action">
			<a href="#" class="btn" id="prev"><i class="icon-arrow-up"></i></a>
			<a href="#" class="btn" id="next"><i class="icon-arrow-down"></i></a>
			<a href="#" class="btn btn-primary" id="save"><i class="icon-ok icon-white"></i></a>
			<a href="/page/{$page.id}" class="btn btn-primary"><i class="icon-home icon-white"></i></a>
			<a href="#" class="btn btn-warning" data-help="ushio"><i class="icon-question-sign"></i> Help</a>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Revert?</h3>
	</div>
	<div class="modal-body">
		<p>Discard current state and return to this revision?</p>

		<p>Current state will not be saved and cannot be restored later.</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger">Cancel</button>
		<button class="btn btn-primary">Revert</button>
	</div>
</div>
<div class="modal fade" id="helpscreen">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<div class="btn-group pull-right" id="helplang" style="margin-right: 10px;" data-toggle="buttons-radio">
			<button type="button" class="btn" data-lang="th">ไทย</button>
			<button type="button" class="btn" data-lang="en">EN</button>
		</div>
		<h3>Help</h3>
	</div>
	<div class="modal-body">
		Loading...
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary" data-dismiss="modal">Hide</a>
	</div>
</div>
<script>
var revisions = {$rev|json_encode};
var curRevInd = 0, helpLang=localStorage.helpLang || "en";
var bgImg = {if $nonfree}Math.random() < 0.5 ? "/nonfree/ushio.jpg" : "/nonfree/ushio2.jpg"{else}""{/if};

function reqlock(){
	$.post("/page/{$page.id}/@lock");
}
reqlock();
setInterval(reqlock, 15000);

function preview(v){
	var ele = $("<iframe sandbox>").attr("src", "/rev/"+v.id).prependTo("#pages");
	ele.addClass("preview-"+v.id).wrap("<div class='wrap'></div>").parent().hide();
}
function checkEnable(){
	if(curRevInd >= revisions.length-1){
		$("#prev").addClass("disabled");
	}else{
		$("#prev").removeClass("disabled");
	}
	if(curRevInd == 0){
		$("#next").addClass("disabled");
	}else{
		$("#next").removeClass("disabled");
	}
	$("#revinfo .name").text(revisions[curRevInd].ushio.description);
	var d = new Date(revisions[curRevInd].ushio.time.sec*1000);
	$("#revinfo .meta").text("Saved by "+revisions[curRevInd].ushio.user+" @ "+d.toLocaleDateString()+" "+d.toLocaleTimeString());
}
$(function(){
	_.each(revisions, function(v){
		preview(v);
	});
	$("#pages iframe:last").parent().fadeIn(1000);
	setTimeout(function(){
		$("#pages iframe:last").css("-webkit-transform", "scale(0.8)");
	}, 1);
	checkEnable();
	$("#prev").click(function(){
		if(curRevInd >= revisions.length-1) return false;
		windsBlow();
		$(".preview-"+revisions[curRevInd].id).css("-webkit-transform", "scale(1)").parent().fadeOut(1000, function(){ $(this).hide() });
		curRevInd += 1;
		$(".preview-"+revisions[curRevInd].id).parent().show();
		setTimeout(function(ele){
			ele.css("-webkit-transform", "scale(0.8)");
		}, 1, $(".preview-"+revisions[curRevInd].id));
		checkEnable();
		return false;
	});
	$("#next").click(function(){
		if(curRevInd == 0) return false;
		windsBlow(true);
		$(".preview-"+revisions[curRevInd].id).css("-webkit-transform", "scale(0.5)").parent().fadeOut(1000, function(){ $(this).hide() });
		curRevInd -= 1;
		$(".preview-"+revisions[curRevInd].id).parent().fadeIn();
		setTimeout(function(ele){
			ele.css("-webkit-transform", "scale(0.8)");
		}, 1, $(".preview-"+revisions[curRevInd].id));
		checkEnable();
		return false;
	});
	$("#save").click(function(){
		$("#confirm").modal();
		return false;
	});
	$("#confirm .btn-primary").click(function(){
		$("#confirm").modal("hide");
		blast();
		window.restoreComplete = false;
		$.post("/page/@load", { rev: revisions[curRevInd].id }, function(){
			window.restoreComplete = true;
		});
		$(".preview-"+revisions[curRevInd].id).parent().fadeOut(1000);
		$(".preview-"+revisions[curRevInd].id).css("-webkit-transform", "scale(1)");
		setTimeout(function(){
			$("<div>").css({
				position: "fixed",
				top: 0,
				left: 0,
				width: "100%",
				height: "100%",
				background: "white",
				zIndex: 100000,
				boxSizing: "border-box",
			}).hide().appendTo("body").fadeIn(1500);
		}, 800);
		var chk = function(){
			if(window.restoreComplete){
				window.location = "/page/{$page.id}";
			}else{
				setTimeout(chk, 500);
			}
		};
		setTimeout(chk, 2200);
		$("#revinfo").hide();
		return false;
	});
	$("#confirm .btn-danger").click(function(){
		$("#confirm").modal("hide");
		return false;
	});
	$("body").delegate("[data-help]", "click", function(){
		$("#helpscreen").modal().data("help", $(this).data("help"));
		$("#helpscreen .modal-body").text("Loading...").load("/help/" + helpLang + "/" + $(this).data("help") + ".html");
		return false;
	});
	$("#helplang").delegate("button", "click", function(e){
		localStorage.helpLang = helpLang = $(this).data("lang");
		$("#helpscreen .modal-body").text("Loading...").load("/help/" + helpLang + "/" + $("#helpscreen").data("help") + ".html");
		e.preventDefault();
	});
	$("#helplang [data-lang="+helpLang+"]").addClass("active");
});
</script>
{/block}