@charset "UTF-8";
@font-face{
	font-family: "Mahaniyom";
	font-weight: 100;
	src: local("Layiji MaHaNiYom BAO OT"), local("Layiji MaHaNiYom BAO"), url(bao.otf);
}
@font-face{
	font-family: "supermarket";
	src: local("supermarket"), url(supermarket.ttf);
}
body{
	margin: 0; padding:0;
	background: #e8e8e8;
	font-family: sans-serif;
	font-size: 10pt;
	margin-bottom: 80px;
}
.dark{
	background-color: black;
	color: white;
}
a{
	color: #555;
	text-decoration: none;
}
a:hover, a:focus{
	color: #888;
}
a:visited{
	color: #444;
}
#container{
	width: 1024px;
	margin: auto;
	background: white;
}
.dark #container{
	background: #222;
}
.pad{
	padding: 10px;
	padding-bottom: 50px;
}
h1,h2{
	font-family: "supermarket", "Antic", sans-serif;
	font-weight: normal;
	margin:0;padding:0;
	letter-spacing: 2px;
	font-size: 28pt;
	line-height: 1.5em;
	margin-top: 20px;
}
.subtitle{
	color: gray;
	font-size: 14pt;
	margin-top: -10px;
	margin-bottom: 10px;
}
.left{
	float: left;
	margin-left: 20px;
}
.header{
	background: black;
	color: white;
	padding: 10px;
	text-align: right;
	margin-left: -10px;
	width: 1004px;
	margin-top: -10px;
}
.header h1{
	font-family: "Antic";
	font-size: 48pt;
}
.header h2{
	font-family: "Antic";
	font-size: 12pt;
	letter-spacing: 1px;
	color: #888;
}
small{
	vertical-align: middle;
	font-size: 60%;
}
p{
	font-family: helvetica, Thonburi, tahoma, sans-serif;
	font-size: 12pt;
}
blockquote{
	font-size: 24pt;
	font-family: supermarket;
	line-height: 1.5em;
	text-align: center;
	color: #555;
	margin: 20px auto 50px auto;
	padding-top: 30px;
	width: 850px;
	background: url(qleft.png) top left no-repeat, url(qright.png) bottom right no-repeat;
}
.widget_iimg .txthover h4{
	margin: 0;
}